h1 {
	font-size: 80px;
	font-style: normal;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

body {
	text-align: center;
	background-color: black;

}

img {
	width: 200px;
	height: 100px;
}

p {
	font-family: "Lato";
	color: grey;
	font-size: 200px;
	font-weight: 300;
	margin: 40px;
}

button {
	width: 100px;
	height: 35px;
	border-radius: 15px;
	
}

button:hover {
	color: red;

}